//!!!!Normalize.css
@import url("normalize.min.css");

//!!!Переменные
@import "parts/vars";
@import "parts/mixins";
//!!Основные стили
@import "parts/basic";

//!!Кнопки
@import "parts/button";



//!Стили которые относятся к шапке
@import "parts/header";

@import "parts/aside";

@import "parts/banner";

@import "parts/main";

@import "parts/card";

@import "parts/blog-card";